/*hide aria alert until no longer hidden*/
.hidden {
    display: none;
}

/*change color of alert*/
.comment-alert {
    color: green;
    font-weight: bold;
}

/*page styling*/
#menu {
    height: 20%;
    border-style: solid;
    postion: fixed;
}
